// variable

$primary-color: #EF517C;
$secundary-color: #45b4dd;

*:focus{
  outline: none;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-weight: 700;
  color: $primary-color;
  text-transform: capitalize;
}

h4 {
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}

.full-vh{
  min-height: 100vh;
}

.gradient {
  background: -moz-linear-gradient(-45deg, rgba(255,163,187,0.8) 0%, rgba(70,180,221,0.8) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,163,187,0.8) 0%,rgba(70,180,221,0.8) 100%);
  background: linear-gradient(135deg, rgba(255,163,187,0.8) 0%,rgba(70,180,221,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffa3bb', endColorstr='#cc46b4dd',GradientType=1 );
}

@media (max-width: 414px) {
  .gradient-movil {
    background: -moz-linear-gradient(-45deg, rgba(255,163,187,0.8) 0%, rgba(70,180,221,0.8) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,163,187,0.8) 0%,rgba(70,180,221,0.8) 100%);
    background: linear-gradient(135deg, rgba(255,163,187,0.8) 0%,rgba(70,180,221,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffa3bb', endColorstr='#cc46b4dd',GradientType=1 );
  }
}



#nosotros {
  padding: 4% 0;
}

#tratamientos-tabSlider {
  padding: 1% 0;
}

#tratamientos-content{
  padding: 1% 0;
}

#testimonios {
  background-color: #FAFAFA;
  padding: 4% 0;
}

#suscripcion {
  padding: 5% 0;
  color: white;
}

.reveal.gradient {
  .gradient {
    background: -moz-linear-gradient(-45deg, rgba(255,163,187,0.8) 0%, rgba(70,180,221,0.8) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,163,187,0.8) 0%,rgba(70,180,221,0.8) 100%);
    background: linear-gradient(135deg, rgba(255,163,187,0.8) 0%,rgba(70,180,221,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffa3bb', endColorstr='#cc46b4dd',GradientType=1 );
  }
}

.reveal.suscripcion-reveal {
  border: none;
  padding: 0px;
}

@media print, screen and (min-width: 40em) {
  .reveal.suscripcion-reveal {
      width: 765px;
      max-width: 75rem;
  }
}


.close-button{
  color: white;

  &:hover {
    color: $primary-color;
  }
}

.suscripcion-container-modal{
  padding: .6rem 0;
  margin-top: 14%;

  h3 {
    color: white;
    font-weight: 300;
  }
}

.button.btn-inver{
  background: transparent;
  color: white;
  border: 1px solid white;

  &:hover {
    background: $secundary-color;
    border-color: $secundary-color;
    color: white;
  }
}


//--  Fooder  --//


footer {
  .fab {
    font-size: 1.6rem;
    color: #EF517C;
    transition: .4s ease;

    &:hover {
      transform: scale(1.08);
      color: #db305f;
    }
  }
}
